root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
max_line_length = 100
trim_trailing_whitespace = true

# Markdown Files
[*.md]
max_line_length = 80
trim_trailing_whitespace = false

# YAML Files
[*.yml]
indent_size = 4

# Travis Config File
[.travis.yml]
indent_size = 2
