{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "env": {
    "jest": true
  },
  "rules": {
    "jsx-a11y/label-has-associated-control": 0,
    "no-console": 0,
    "react/jsx-props-no-spreading": 0
  }
}
