{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order",
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-empty-line-before": [
      "always",
      {
        "ignoreAtRules": ["import"]
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "each",
          "function",
          "if",
          "include",
          "mixin"
        ]
      }
    ],
    "number-leading-zero": "never",
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-alphabetical-order": true,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global", "local"]
      }
    ],
    "scss/at-rule-no-unknown": true
  }
}
