.skin {
  &-flat,
  &-line,
  &-minimal,
  &-square,
  &-futurico,
  &-polaris {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    padding: 30px;
  }

  &-futurico,
  &-polaris {
    background: #2c323c;
    border: 0;
    color: #7a828b;
  }
}
