$skin-colors: (
  red: #e56c69,
  green: #1b7e5a,
  blue: #2489c5,
  aero: #9cc2cb,
  grey: #73716e,
  orange: #f70,
  yellow: #ffc414,
  pink: #a77a94,
  purple: #6a5a8c,
);

.colors {
  strong {
    display: inline-block;
    line-height: 20px;
    margin-right: 20px;
    vertical-align: middle;
  }

  ul {
    align-items: center;
    display: inline-flex;
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }

  li {
    background: #000;
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 0;
    opacity: .5;
    overflow: hidden;
    position: relative;
    transition: opacity 75ms ease-in-out;
    vertical-align: middle;

    @each $name, $color in $skin-colors {
      &.#{$name} {
        background: $color;
      }
    }

    button {
      background: none;
      border: 0;
      cursor: pointer;
      float: left;
      height: 20px;
      outline: none;
      width: 20px;
    }

    &:hover {
      opacity: 1;
    }

    &.active {
      box-shadow: 0 0 0 2px #007bff;
      opacity: 1;
    }
  }
}
