html,
body {
  height: 100%;
  min-height: 100%;
  position: relative;
  width: 100%;
}

#app {
  align-items: stretch;
  display: flex;
  justify-content: stretch;
  min-height: 100%;
  width: 100%;

  .app {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
  }

  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 100%;

    pre.d-inline {
      background: $pampas;
      border-radius: 3px;
      color: $black;
      font-size: .85em;
      padding: .15em 0;
      white-space: nowrap;

      &::before,
      &::after {
        content: '\00a0';
        letter-spacing: -.2em;
      }
    }
  }

  footer {
    flex-grow: 0;
  }
}

label {
  align-items: center;
  display: flex;

  > div {
    display: inline-block;
    vertical-align: middle;
  }

  > span,
  > div:last-child {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
  }
}

.heading {
  border-bottom: 1px solid transparentize($black, .9);
  margin-bottom: $grid-gutter-width / 2;
  padding-bottom: .3em;
}

.badges {
  width: 100%;

  a {
    float: left;
    margin: 0 5px 5px 0;
    padding: 0;

    img {
      float: left;
    }
  }
}

@include media-breakpoint-down(sm) {
  #app {
    main {
      font-size: .85rem;

      h1 {
        font-size: $h3-font-size;
      }

      h2 {
        font-size: $h4-font-size;
      }

      h3 {
        font-size: $h5-font-size;
      }

      h4,
      h5,
      h6 {
        font-size: $h6-font-size;
      }
    }
  }
}
