:local .error {
  h1 {
    margin: 0;
  }

  h2 {
    margin: 0 0 $grid-gutter-width;
  }
}

@include media-breakpoint-down(sm) {
  :local .error {
    h1 {
      font-size: $h3-font-size;
    }

    h2 {
      font-size: $h4-font-size;
      margin: 0 0 $grid-gutter-width / 2;
    }
  }
}
