.jumbotron {
  background: transparent !important;
  text-align: center;
  width: 100%;
}

@include media-breakpoint-down(sm) {
  .jumbotron {
    h1 {
      font-size: $h3-font-size;
    }

    p {
      font-size: 1rem;
    }
  }
}
